/*
 * Netcraft Extension
 * Styles used by both blocked.html and options.html
 */

body {
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-areas:
        'nav'
        'wrapper';
    grid-row-gap: 40px;
    color: #303030;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    color: #484848;
    margin: 0;
}

.nav {
    text-align: center;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #d9d9d9;
}

.nav img {
    width: 200px;
    margin: 0;
}

.wrapper {
    grid-area: wrapper;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: '. content .';
    margin-bottom: 40px;
}

.content {
    grid-area: content;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: #484848;
}

button {
    background-color: white;
    padding: 8px 16px 8px 16px;
    border: 1px solid #951100;
    text-align: center;
    border-radius: 3px;
    border: solid 1px #428bca;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 99%;
    text-align: center;
}

@media (max-width: 1500px) {
    .wrapper {
        grid-template-columns: 2fr 3fr 2fr;
    }
}

@media (max-width: 900px) {
    .wrapper {
        grid-template-columns: 1fr 5fr 1fr;
    }
}

.message {
    padding: 10px 10px 0px 10px;
}

.message > p > a {
    cursor: pointer;
}
