/*
 * Netcraft Extension
 * styled inputs style sheet
 */

.container {
    display: grid;
    grid-template-columns: 1fr 44px;
    grid-template-rows: auto;
    grid-template-areas: 'input valid-indicator';
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #bbb;
    box-shadow: 0px 2px 4px #eee;
    padding: 10px;
    margin: 8px 0 8px 0;
}

.label-input-pair {
    grid-area: input;
    display: grid;
    grid-template-rows: auto;
    grid-template-rows: auto auto;
}

.label {
    font-size: 12px;
    font-weight: 500;
}

.input {
    height: 20px;
    background: none;
    border: 0;
    border-radius: 0;
    margin: 8px 0;
    font-size: 14px;
}

.input:last-child {
    margin-bottom: 0;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    opacity: 0.66;
}

.textarea {
    background: none;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    overflow: auto;
    height: 50px;
    resize: none;
    padding: 2px 6px;
    margin: 8px 0;
    box-shadow: none;
    border: 1px solid #bbb;
}

.textarea:last-child {
    margin-bottom: 0;
}

.textarea:focus {
    border: 1px solid #c2c2c2;
}

.valid-indicator {
    grid-area: valid-indicator;
    font-size: 20px;
    text-align: right;
    opacity: 0.2;
}

.valid {
    color: #428bca;
    opacity: 1;
}
