body {
    background: #003E51;
    background: linear-gradient(223.47deg, #003E51 0%, #003E51 55%, #48A9C5 100%);
    background: -webkit-linear-gradient(223.47deg, #003E51 0%, #003E51 55%, #48A9C5 100%);

    font-family: 'Netcraft Open Sans', 'Open Sans', sans-serif;
    font-size: 20px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

ul {
    list-style-position: inside;
    padding: 0;
}

li {
    line-height: 1.5;
}

p + ul {
    margin-top: -10px;
}

a {
    color: #2655b1;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 100%;
}

#pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;

    width: 30%;
    min-height: 400px;
    min-width: 400px;

    background: white;
    padding: 32px;
}

#grant-permission {
    background: white;
    border-radius: 3px;
    border: 2px solid #448cca;
    color: #448cca;

    width: 100%;
    padding: 11px 25px;
    margin-bottom: 10px;

    font-size: 40px;
    font-weight: 600;
}

#grant-permission:hover {
    background-color: #efefef;
}

#logo-link {
    width: 45%;
    max-width: 300px;
    min-width: 160px;

    padding: 20px;
    margin-bottom: 28px;
    padding-top: 24px;
}

.logomark {
    width: 100%;
}

#privacy-policy p {
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2px;
}
